<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/imgs/logo_320x120.png" height="16px" /> Rewards Multiplier</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- THE HOME SCREEN SLIDER   -->

  <ion-slides pager>
    <ion-slide>
      <img [src]="slides[0].image" />
      <div class="card-title">Rewards Multiplier</div>
      <div class="card-subtitle">never loose another reward</div>
    </ion-slide>
    <ion-slide>
      <img [src]="slides[1].image" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row padding>
      <ion-col col-6>
        <button ion-button icon-start round block (click)="gotoMyprograms()">
          <ion-icon name="card" md="md-card"></ion-icon>Program</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button icon-start round block (click)="gotoTrans()">
          <ion-icon name="add-circle" md="md-add-circle"></ion-icon>Add Points</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row padding>
    <ion-col col-12>
      <h6>My Programs</h6>
    </ion-col>
    <ion-col col-12>
      <ion-list>
        <div class="placeholder" id="alert-msg" *ngIf="!myprogs">
          <div>
            <p>Looks like you have not added any Programs yet !</p>
          </div>
        </div>
        <!-- <ion-item *ngFor="let prog of myprogs" (click)="viewProg(prog)">{{prog.name}}
        </ion-item> -->
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row padding>
    <ion-col col-12>
      <h6>Recent Transactions </h6>
    </ion-col>
    <ion-col col-12>
      <ion-list class="homeRecent">
        <ion-item *ngFor="let item of items | slice:0:5" (click)="viewItem(item)">{{item.program}}
          <span class="pull-right">{{item.points}} pts</span>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>