// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

h2{
    color: #488aff;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.small-grey {
    color: grey;
    font-size: 1.2em;
}

ion-content {
    max-width: 780px;
    // align-content: center;
}
.logo{
    min-width: 26px;
    float: left;
}
.platform-android .logo{
    margin-left: -10px;
}
.platform-ios .logo {
    position: absolute;
    left: 50px;
    top: 23px;
  }
  
  
.help-icon-container{
    float: right;
}
.platform-ios .help-icon-container {
    position: absolute;
    right: 10px;
    top: 30px;  
  }
  
  
h2 {
    font-size: 1.3em;
}
.align-center{
    text-align: center;
}

.content-container{
    width: 95%;
    height: auto;
    overflow: hidden;
    margin: auto;
    text-align: center;
}
.content-container p{
    font-size: 14px;
    line-height: 21px;
}
.hide{
    display: none;
}
.show{
    display: block;
}